<!doctype html>
<html lang="en">
	<head th:replace="fragments/head :: head"></head>
	<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="../">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block fw-bold text-light" href="../panel">LISTA PRODUCTOS</a>
    <a class="py-2 d-none d-md-inline-block fw-bold text-light" href="../cliente/listar">LISTA CLIENTES</a>
    <a class="py-2 d-none d-md-inline-block fw-bold text-light" href="../ordenes/listar">LISTA ORDENES</a>
	
  </nav>
</header>
	
		<body class="text-center">
			<main class="form-signin">
			
			  <form th:object="${producto}" th:method="post" action="./detalleProductos.html"
        			th:action="@{${#httpServletRequest.servletPath}}" class="form-horizontal" id="add-producto-form">
			    <img class="mb-4" th:src="@{/images/bootstrap-logo.svg}" alt="" width="72" height="57"
             						src="/images/bootstrap-logo.svg"/>
			    <h1>
      				<span th:if="${producto.id} == null" th:remove="tag">Nuevo </span>Producto
    			</h1>
			
			    <div class="form-floating">
			      <input th:if="${producto.id} != null" type="text" th:field="*{id}" readonly="true" class="form-control" id="floatingInput">
			      <label for="floatingInput"><span th:if="${producto.id} != null" th:remove="tag">ID</span></label>
			    </div>

			    <div class="form-floating" th:classappend="${#fields.hasErrors('name')} ? error">
			      <input class="form-control" id="floatingPassword" type="text" th:field="*{name}" />
					<span class="help-inline text-danger" th:errors="*{name}">[error]</span>
			      <label for="floatingPassword">Nombre</label>
			    </div>
				
				<div class="form-floating" th:classappend="${#fields.hasErrors('price')} ? error">
			      <input class="form-control" id="floatingPassword" type="number" th:field="*{price}" />
					<span class="help-inline text-danger" th:errors="*{price}">[error]</span>
			      <label for="floatingPassword">Precio</label>
			    </div>

				<div class="form-floating" th:classappend="${#fields.hasErrors('stock')} ? error">
			      <input class="form-control" id="floatingPassword" type="number" th:field="*{stock}" />
					<span class="help-inline text-danger" th:errors="*{stock}">[error]</span>
			      <label for="floatingPassword">Stock</label>
			    </div>
		    
			    <button class="w-100 btn btn-lg btn-primary" type="submit">Aceptar</button>
			    
			  </form>
			</main>
	<footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>

